anndata
bokeh
celery
Flask
Flask_Cors
goatools
gunicorn
h5py
ipython
Jinja2
kaleido
matplotlib
matplotlib_venn
memory_profiler
networkx
numpy
pandas
Pillow
plotly
psycopg2-binary
pytest
python_igraph
PyYAML
redis
scanpy
scikit_learn
scipy
seaborn
setuptools
SQLAlchemy
statsmodels
UpSetPlot