<div class="container py-4">
    <div class="card mx-auto" style="max-width: 1000px;">
        <div class="card-header d-flex align-items-center justify-content-between">
            <span class="fw-bold fs-5"><i class="bi bi-search me-2"></i>Browser</span>
            <button class="btn btn-link" id="helpIconBrowser" style="font-size: 24px;">
                <i class="bi bi-question-circle"></i>
            </button>
        </div>
        <div class="card-body">
            <!-- Browser Description (toggle) -->
            <div id="userGuideCardBrowser" class="analysis-description mb-3" style="display: none;">
                <p>
                    Explore data for selected plant species by searching for transcripts or provided metadata (e.g.
                    Modules or GO Terms)
                    using the global search box.
                    For example, try searching for
                    <a href="#" onclick="sendGoTermToIframe('GO:0009908'); event.preventDefault();">flower development
                        (GO:0009908)</a>,
                    <a href="#" onclick="sendGoTermToIframe('GO:0015979'); event.preventDefault();">photosynthesis
                        (GO:0015979)</a>, or
                    <a href="#" onclick="sendGoTermToIframe('GO:0006950'); event.preventDefault();">response to stress
                        (GO:0006950)</a>.
                    The global search is case-insensitive and supports partial matches.
                </p>
                <p>
                    If the global search does not meet your needs, you can refine your query using the column search.
                    Select a specific
                    column from the drop-down menu to limit your search to that field.
                    Enter multiple search terms separated by commas, spaces, tabs or line breaks. Column search is
                    case-sensitive and
                    does not support partial matches.
                </p>
                <p>
                    In addition, checking the <i>Use orthogroups</i> box will redirect your search to orthogroup IDs (if
                    this metadata is provided). This
                    takes the orthogroups from the filtered table entries as new tokens and calculates metrics that show
                    how many
                    transcripts are retained, lost or added.
                </p>
                <p>
                    You can also customise the table view by adjusting column visibility, downloading the filtered
                    table, or
                    copying selected column entries to the clipboard. When copying entries, you can choose to export
                    only unique values
                    and specify a custom separator (default is a new line).
                </p>
            </div>
            <!-- Browser Table/Results -->
            <div id="browserResultsContainer" style="position: relative;">
                <div id="loadingBarBrowser" class="loading-text" style="display:none;">
                    <span id="loadingBarBrowserStatusText">Loading...</span>
                </div>
                <div id="browserResults" style="display: none;">
                    <iframe id="browserIframe" style="width:100%; border:none;" scrolling="no"></iframe>
                </div>
            </div>
            <!-- Browser Analysis Card -->
            <div id="browserAnalysisCard" style="display: none;">
                <h5 class="card-title">Browser Analysis</h5>
                <div id="browserAnalysisOptions">
                    <div class="row justify-content-center">
                        <div class="col-auto form-group">
                            <select class="form-control" id="browserAnalysisType">
                                {% for key, description in browser_options.items() %}
                                <option value="{{ key }}">{{ description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- Description Icon -->
                    <div class="text-center mb-3">
                        <button id="browserHelpIcon" class="btn btn-link" style="font-size: 24px;">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                    <!-- Browser Analysis Descriptions -->
                    <div id="analysisDescriptionContainer">
                        <div id="description_plot_co_expression_network" class="analysis-description"
                            style="display: none;">
                            <p>
                                The Co-Expression Network Analysis provides a view of transcript interactions using
                                precomputed TOMs. Sub-modules¹ are generated automatically, and
                                sub-module–trait relationships are computed for each sub-module. You can highlight
                                specific
                                transcripts, have nodes colored by their original WGCNA module assignments, and choose
                                different
                                shapes per species.<br>
                                <br>
                                1. Sub-modules are subnetworks derived by applying a threshold to the edge weights (TOM
                                values).
                                Each sub-module may contain transcripts from multiple original WGCNA modules.
                            </p>
                        </div>
                        <div id="description_plot_go_terms" class="analysis-description" style="display: none;">
                            <p>The Gene Ontology Enrichment Analysis calculates the enrichment of Gene Ontology (GO)
                                terms for
                                a given set of transcripts, derived from the Browser results. The analysis uses a
                                specified top
                                percentage of transcripts to focus on the most highly expressed transcripts. Parameters
                                such as
                                maximum p‑value to filter significant GO terms, minimum fold enrichment, and minimum
                                depth for
                                the GO term affect the interactive plot. Detailed results can be found in the Session
                                Files.</p>
                        </div>
                        <div id="description_plot_venn" class="analysis-description" style="display: none;">
                            <p>The analysis takes a list of transcripts from the Browser results and generates a Venn
                                diagram
                                to show the overlap of orthogroups between the selected species.</p>
                        </div>
                        <div id="description_plot_upset" class="analysis-description" style="display: none;">
                            <p>The analysis takes a list of transcripts from the Browser results and generates an Upset
                                plot
                                to show the overlap of orthogroups between the selected species.</p>
                        </div>
                        <div id="description_plot_filtered_jaccard_modules" class="analysis-description"
                            style="display: none;">
                            <p>The Module Similarity Network analysis calculates the Jaccard similarity between modules
                                of
                                different plant species based on the orthogroups within each module. It examines whether
                                the
                                same orthogroups are present in the modules across various species. Parameters include a
                                similarity threshold, options for shapes and colors, and a minimum number of
                                orthogroups.</p>
                        </div>
                        <div id="description_plot_filtered_jaccard_species" class="analysis-description"
                            style="display: none;">
                            <p>The Species Similarity Network analysis calculates the Jaccard similarity between
                                different
                                plant species based on the orthogroups within each plant using the Browser results. It
                                examines
                                whether the same orthogroups are present in various species. Options for shapes and a
                                minimum
                                orthogroup count are available.</p>
                        </div>
                        <div id="description_not_implemented" class="analysis-description" style="display: none;">
                            <p>Not implemented</p>
                        </div>
                    </div>
                    <!-- Analysis Parameters Toggle -->
                    <div id="browserParametersToggle">
                        <details id="parametersToggle">
                            <summary class="toggle-header">Parameters</summary>
                            <div class="toggle-content">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 col-lg-8">

                                        <!-- Form Group: Select Tool (Radio Buttons) -->
                                        <!-- TODO use Cytoscape only! -->
                                        <div class="row mb-3" id="plotTypeGroupBrowser" style="display: none;">
                                            <label class="col-sm-4 col-form-label text-end">
                                                Select Tool
                                            </label>
                                            <div class="col-sm-8">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="plotType"
                                                        id="plotTypePlotly" value="plotly">
                                                    <label class="form-check-label" for="plotTypePlotly">Plotly</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="plotType"
                                                        id="plotTypeCytoscape" value="cytoscape" checked>
                                                    <label class="form-check-label"
                                                        for="plotTypeCytoscape">Cytoscape</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Form Group: Percentage of Highest Expressed Transcripts -->
                                        <div class="row mb-3" id="nTopPercentGroupBrowser" style="display: none;">
                                            <label for="nTopPercentBrowser" class="col-sm-4 col-form-label text-end">
                                                Percentage of Highest Expressed Transcripts
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="nTopPercentBrowser"
                                                    placeholder="Enter top percentage" step="0.1" value="1.0" min="0.1"
                                                    max="100" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Top n of Highest Expressed Transcripts -->
                                        <div class="row mb-3" id="nTopGroupBrowser" style="display: none;">
                                            <label for="nTopBrowser" class="col-sm-4 col-form-label text-end">
                                                Top n of Highest Expressed Transcripts
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="nTopBrowser"
                                                    placeholder="Enter top n" step="1" value="10" min="1" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Threshold -->
                                        <div class="row mb-3" id="thresholdGroupBrowser" style="display: none;">
                                            <label for="thresholdBrowser" class="col-sm-4 col-form-label text-end">
                                                Threshold
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="thresholdBrowser"
                                                    placeholder="Enter threshold value" step="0.05" value="0.3"
                                                    min="0.0" max="1.0" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Maximum P‑Value -->
                                        <div class="row mb-3" id="maxPvalGroupBrowser" style="display: none;">
                                            <label for="maxPvalBrowser" class="col-sm-4 col-form-label text-end">
                                                Maximum P‑Value
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="maxPvalBrowser"
                                                    placeholder="Enter max p‑value" step="0.01" value="0.05" min="0.0"
                                                    max="1.0" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Minimum Fold Enrichment -->
                                        <div class="row mb-3" id="minFeGroupBrowser" style="display: none;">
                                            <label for="minFeBrowser" class="col-sm-4 col-form-label text-end">
                                                Minimum Fold Enrichment
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="minFeBrowser"
                                                    placeholder="Enter min fold enrichment" step="0.01" value="0.2"
                                                    min="0.0" max="1.0" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Minimum Depth -->
                                        <div class="row mb-3" id="minDepthGroupBrowser" style="display: none;">
                                            <label for="minDepthBrowser" class="col-sm-4 col-form-label text-end">
                                                Minimum Depth
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="minDepthBrowser"
                                                    placeholder="Enter min depth" value="2" min="0" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Minimum Number of Orthogroups -->
                                        <div class="row mb-3" id="minOrthosGroupBrowser" style="display: none;">
                                            <label for="minOrthosBrowser" class="col-sm-4 col-form-label text-end">
                                                Minimum Number of Orthogroups
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="minOrthosBrowser"
                                                    placeholder="Enter min orthogroups" value="10" min="1" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Max Neighbors -->
                                        <div class="row mb-3" id="maxNeighborsGroupBrowser" style="display: none;">
                                            <label for="maxNeighborsBrowser" class="col-sm-4 col-form-label text-end">
                                                Max Neighbors
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="maxNeighborsBrowser"
                                                    placeholder="Enter max neighbors" value="0" step="1" min="0"
                                                    max="50" required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Min Cluster Size -->
                                        <div class="row mb-3" id="minClusterSizeGroupBrowser" style="display: none;">
                                            <label for="minClusterSizeBrowser" class="col-sm-4 col-form-label text-end">
                                                Min Sub-module Size
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="minClusterSizeBrowser"
                                                    placeholder="Min nodes" value="10" step="1" min="2" max="1000"
                                                    required>
                                            </div>
                                        </div>

                                        <!-- Form Group: Highlight Nodes -->
                                        <div class="row mb-3" id="highlightListGroupBrowser" style="display: none;">
                                            <label for="highlightListBrowser" class="col-sm-4 col-form-label text-end">
                                                Highlight Nodes
                                            </label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" id="highlightListBrowser" rows="3"
                                                    placeholder="Enter identifiers separated by comma, space, tab, or newline"></textarea>
                                            </div>
                                        </div>

                                        <!-- Form Group: Use Shapes for Modules (Checkbox) -->
                                        <div class="row mb-3" id="useShapesGroupBrowser" style="display: none;">
                                            <label for="useShapesBrowser" class="col-sm-4 col-form-label text-end">
                                                Use Shapes for Modules
                                            </label>
                                            <div class="col-sm-8 d-flex align-items-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input large-checkbox"
                                                        id="useShapesBrowser">
                                                    <label class="form-check-label" for="useShapesBrowser"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Form Group: Use Colors for Modules (Checkbox) -->
                                        <div class="row mb-3" id="useColorsGroupBrowser" style="display: none;">
                                            <label for="useColorsBrowser" class="col-sm-4 col-form-label text-end">
                                                Use Colors for Modules
                                            </label>
                                            <div class="col-sm-8 d-flex align-items-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input large-checkbox"
                                                        id="useColorsBrowser">
                                                    <label class="form-check-label" for="useColorsBrowser"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Form Group: Use Shapes for Species (Checkbox) -->
                                        <div class="row mb-3" id="useShapesSpeciesGroupBrowser" style="display: none;">
                                            <label for="useShapesSpeciesBrowser"
                                                class="col-sm-4 col-form-label text-end">
                                                Use Shapes for Species
                                            </label>
                                            <div class="col-sm-8 d-flex align-items-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input large-checkbox"
                                                        id="useShapesSpeciesBrowser">
                                                    <label class="form-check-label"
                                                        for="useShapesSpeciesBrowser"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Form Group: Inter Species Only (Checkbox) -->
                                        <div class="row mb-3" id="interSpeciesOnlyGroupBrowser" style="display: none;">
                                            <label for="interSpeciesOnlyBrowser"
                                                class="col-sm-4 col-form-label text-end">
                                                Inter Species Only
                                            </label>
                                            <div class="col-sm-8 d-flex align-items-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input large-checkbox"
                                                        id="interSpeciesOnlyBrowser" checked>
                                                    <label class="form-check-label"
                                                        for="interSpeciesOnlyBrowser"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Form Group: Force Detailed View (Checkbox) -->
                                        <div class="row mb-3" id="forceDetailedViewGroupBrowser" style="display: none;">
                                            <label for="forceDetailedViewBrowser"
                                                class="col-sm-4 col-form-label text-end">
                                                Force Detailed View
                                            </label>
                                            <div class="col-sm-8 d-flex align-items-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input large-checkbox"
                                                        id="forceDetailedViewBrowser">
                                                    <label class="form-check-label"
                                                        for="forceDetailedViewBrowser"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" id="runBrowserAnalysis">Run Analysis</button>
                    </div>
                    <br>
                    <div id="browserAnalysisResultsContainer" style="position: relative;">
                        <div id="loadingBar3" class="loading-text" style="display:none;">
                            <span id="loadingStatusText3">Loading...</span>
                        </div>
                        <div id="loadingText" class="loading-text" style="display: none;">
                            <span id="loadingStatusText"></span>
                        </div>
                        <div id="browserAnalysisResults" class="results" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>