<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co-Expression Network</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <style>
        {{ css_content | safe }}
    </style>
</head>
<body>
    <!-- Cytoscape Container -->
    <div id="cy"></div>

    <!-- Loading Spinner -->
    <div id="loading-spinner">
        <div class="spinner"></div>
    </div>

    <!-- Buttons left -->
    <div class="buttons-left">
        <div class="zoom-buttons">  
            <button id="zoom-reset" class="icon-button" title="Reset Zoom"><i class="fas fa-home"></i></button>
            <button id="toggle-fullscreen" class="icon-button" title="Toggle Fullscreen"><i class="fas fa-expand"></i></button>
            <button id="zoom-in" class="icon-button" title="Zoom In"><i class="fas fa-search-plus"></i></button>
            <button id="zoom-out" class="icon-button" title="Zoom Out"><i class="fas fa-search-minus"></i></button>
            <button id="toggleZoom" class="icon-button" title="Scroll Zoom"><i class="fas fa-mouse"></i></button>
            <button id="rectangle-zoom" class="icon-button" title="Rectangle Zoom"><i class="fas fa-vector-square"></i></button>
        </div>
    
        <div class="other-buttons">  
            <button id="toggle-metadata" class="icon-button" title="Switch Metadata Highlight"><i class="fas fa-random"></i></button>
            <button id="toggle-highlighting" class="icon-button" title="Toggle Node Highlighting"><i class="fas fa-highlighter"></i></button>
            <button id="toggle-legend" class="icon-button" title="Toggle Legend"><i class="fas fa-list"></i></button>
        </div>
    </div>

    <!-- Buttons top right -->
    <div class="buttons-top-right">
        <button id="export-json" class="icon-button" title="Export to Cytoscape"><i class="fas fa-download"></i></button>
        <button id="export-png" class="icon-button" title="Export as PNG"><i class="fas fa-image"></i></button> </div>
    </div>

    <!-- Sliders bottom right -->
    <!-- Node size slider (1: smallest, 30: largest) -->
    <div class="node-size-slider">
        <i class="fas fa-circle slider-indicator-left"></i>
        <input type="range" id="node-size-range" min="1" max="30" value="{{ node_size }}" step="1">
        <i class="fas fa-circle slider-indicator-right"></i>
    </div>

    <!-- Edge visibility slider (0%: no edges, 100%: all edges) -->
    <div class="edge-visibility-slider">
        <i class="fas fa-eye-slash slider-indicator-left"></i>
        <input type="range" id="edge-visibility-range" min="0" max="100" value="20" step="1">
        <i class="fas fa-network-wired slider-indicator-right"></i>
    </div>

    <!-- Tooltip -->
    <div id="tooltip"></div>
    
    <!-- Button Tooltip -->
    <div id="button-tooltip"></div>

    <!-- Legend -->
    <div id="legend" class="hidden">
        <!-- Edge Weight (TOM Value) -->
        <div id="edge-legend">
            <p><b>TOM Value</b></p>
            <div style="display: flex; align-items: center;">
            <div id="legend-gradient" style="width: 100px; height: 10px; background: linear-gradient(to right, #440154, #3b528b, #21918c, #5dc962, #fde725);"></div>
                <span id="minTOM" style="margin-left: 10px;"></span>
                <span style="margin: 0 5px;">→</span>
                <span id="maxTOM"></span>
            </div>
        </div>
        
        <!-- Species Legend -->
        <div id="species-legend">
            <p><b>Species</b></p>
            <ul id="species-legend-list" style="list-style: none; padding: 0; margin: 0;"></ul>
        </div>
    </div>
      
    <script>
        {{ js_content | safe }}
    </script>
</body>
</html>
