build/
.ipynb_checkpoints/
ranomics.egg-info/
notebooks/figures/
notebooks/.ipynb_checkpoints/
notebooks/goea*/
notebooks/lib/
notebooks/output/
ranomics/output/
output/
notebooks/DGE_tissues/
notebooks/moduleColors/
pipelines/.snakemake/
pipelines/output/
count_matrices/
gaf_files/
tests/__pycache__/
flask/data/
*.err
*.out
ranomics/__pycache__/__init__.cpython-38.pyc
ranomics/__pycache__/utils.cpython-38.pyc
notebooks/bubble_comparison_EC_CS.png
notebooks/core
notebooks/heatmap_comparison_EC_CS2.png
notebooks/heatmap_comparison.png
notebooks/jaccard_similarity_EC_CS.png
ranomics/__pycache__/ortho.cpython-38.pyc
ranomics/__pycache__/plotting.cpython-38.pyc
flask/app_dev/__pycache__/
flask/app_prod/__pycache__/
Phylogenetic_Hierarchical_Orthogroups/*
go-basic.obo
flask/celery.log
flask/gunicorn.log
flask/app_prod/celerybeat-schedule.bak
flask/app_prod/celerybeat-schedule.dat
flask/app_prod/celerybeat-schedule.dir
flask/celery_beat.log
notebooks/compare_adata.ipynb
notebooks/*.html
count_matrices2/AC.gene.TMM.EXPR.matrix
count_matrices2/AC.isoform.TMM.EXPR.matrix
count_matrices2/CS.gene.TMM.EXPR.matrix
count_matrices2/CS.isoform.TMM.EXPR.matrix
count_matrices2/EC.gene.TMM.EXPR.matrix
count_matrices2/EC.isoform.TMM.EXPR.matrix
count_matrices2/EC.isoform.TMM.EXPR.matrix.updated
count_matrices2/EG.gene.TMM.EXPR.matrix
count_matrices2/EG.isoform.TMM.EXPR.matrix
count_matrices2/HC.gene.TMM.EXPR.matrix
count_matrices2/HC.isoform.TMM.EXPR.matrix
count_matrices2/PS.gene.TMM.EXPR.matrix
count_matrices2/PS.isoform.TMM.EXPR.matrix
count_matrices2/SP.gene.TMM.EXPR.matrix
count_matrices2/SP.isoform.TMM.EXPR.matrix
count_matrices2/TT.gene.TMM.EXPR.matrix
count_matrices2/TT.isoform.TMM.EXPR.matrix
count_matrices2/EC.gene.TMM.EXPR.matrix.updated
scripts/WGCNA.log
flask/app_cr/__pycache__/app.cpython-38.pyc
flask/app_cr/__pycache__/cache.cpython-38.pyc
flask/app_cr/__pycache__/celery_app.cpython-38.pyc
flask/app_cr/__pycache__/config.cpython-38.pyc
flask/app_cr/__pycache__/extensions.cpython-38.pyc
flask/app_cr/__pycache__/factory.cpython-38.pyc
flask/app_cr/__pycache__/factory.cpython-312.pyc
flask/app_cr/__pycache__/generate_index.cpython-38.pyc
flask/app_cr/__pycache__/gunicorn_config.cpython-38.pyc
flask/app_cr/__pycache__/routes.cpython-38.pyc
flask/app_cr/__pycache__/task_mapping.cpython-38.pyc
flask/app_cr/__pycache__/tasks.cpython-38.pyc
flask/ceratopteris_celery_beat.log
flask/ceratopteris_celery.log
flask/ceratopteris_gunicorn.log
flask/app_cr/celerybeat-schedule.dat
flask/ceratopteris_celery_beat.log
flask/ceratopteris_celery.log
flask/ceratopteris_gunicorn.log
flask/app_cr/celerybeat-schedule.bak
flask/app_cr/celerybeat-schedule.dir
flask/wgcna_app/config/__pycache__/__init__.cpython-38.pyc
flask/wgcna_app/config/__pycache__/config_dev.cpython-38.pyc
flask/ranomics_celery_beat.log
flask/ranomics_gunicorn.log
flask/ranomics_celery.log
flask/wgcna_app/app/__pycache__/__init__.cpython-38.pyc
flask/wgcna_app/app/__pycache__/app.cpython-38.pyc
flask/wgcna_app/app/__pycache__/cache.cpython-38.pyc
flask/wgcna_app/app/__pycache__/extensions.cpython-38.pyc
flask/wgcna_app/app/__pycache__/factory.cpython-38.pyc
flask/wgcna_app/app/__pycache__/generate_index.cpython-38.pyc
flask/wgcna_app/app/__pycache__/helper.cpython-38.pyc
flask/wgcna_app/app/__pycache__/routes.cpython-38.pyc
flask/wgcna_app/app/__pycache__/task_mapping.cpython-38.pyc
flask/wgcna_app/app/__pycache__/tasks.cpython-38.pyc
flask/wgcna_app/app/.env
flask/wgcna_app/app/dev/browser.html
flask/wgcna_app/app/dev/general_info.html
flask/wgcna_app/app/templates/dev/browser.html
flask/wgcna_app/app/templates/dev/general_info.html
flask/wgcna_app/gunicorn/__pycache__/gunicorn_config_cr.cpython-38.pyc
flask/wgcna_app/config/__pycache__/config_cr.cpython-38.pyc
flask/wgcna_app/app/.env_cr
flask/wgcna_app/logs/cr_celery_beat.log
flask/wgcna_app/logs/cr_celery.log
flask/wgcna_app/logs/cr_gunicorn.log
flask/wgcna_app/app/templates/index_Ceratopteris.html
flask/wgcna_app/app/__pycache__/__init__.cpython-312.pyc
flask/wgcna_app/app/__pycache__/factory.cpython-312.pyc
flask/wgcna_app/app/.env_ranomics
flask/wgcna_app/config/__pycache__/config_ranomics.cpython-38.pyc
flask/wgcna_app/gunicorn/__pycache__/gunicorn_config_ranomics.cpython-38.pyc
flask/wgcna_app/logs/ranomics_celery_beat.log
flask/wgcna_app/logs/ranomics_celery.log
flask/wgcna_app/logs/ranomics_gunicorn.log
flask/wgcna_app/celerybeat-schedule.bak
flask/wgcna_app/celerybeat-schedule.dat
flask/wgcna_app/celerybeat-schedule.dir
flask/wgcna_app/.env
requirements.txt
flask/wgcna_app/__pycache__/run.cpython-38.pyc
wgcna_package.egg-info/dependency_links.txt
wgcna_package.egg-info/PKG-INFO
wgcna_package.egg-info/requires.txt
wgcna_package.egg-info/SOURCES.txt
wgcna_package.egg-info/top_level.txt
wgcna/__pycache__/__init__.cpython-38.pyc
wgcna/__pycache__/ortho.cpython-38.pyc
wgcna/__pycache__/plotting.cpython-38.pyc
wgcna/__pycache__/utils.cpython-38.pyc
wgcna/__pycache__/wrapper.cpython-38.pyc
